@charset "utf-8";

*{
    margin: 0;
    padding: 0;
}

ul,li{
    list-style: none;
}

a{
    text-decoration: none;
    color: #222;
}

img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.container{
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.start-page{
    width: 100vw;
    height: 100vh;
    background: url(./img/start-page.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.main-page{
    width: 100vw;
    height: 100vh;
    background: url(./img/main-page.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.concept-page{
    width: 100vw;
    height: 100vh;
    background: url(./img/concept-page.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.detail1-page{
    width: 100vw;
    height: 100vh;
    background: url(./img/detail1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.detail2-page{
    width: 100vw;
    height: 100vh;
    background: url(./img/detail2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.detail3-page{
    width: 100vw;
    height: 100vh;
    background: url(./img/detail3.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.footer-section{
    width: 100vw;
    height: 500px;
    background: url(./img/footer.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.footer-section .but{
    position: absolute;
    top: 57%;
    left: 50%;
    transform: translate(-50%, -57%);
    background-color: transparent;
    border: none;
    border: 1px solid #fff;
    outline: none;
    width: 10%;
    height: 10%;
    z-index: 99;
    color: #fff;
    cursor: pointer;
    transition: 0.3s;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
}

.footer-section .but:hover{
    background-color: #fff;
    color: #000;
}